<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Document</title>
</head>
<body class="actualite">

    <div id="menu">
        <span><a href="index.html">Accueil</a></span>
        <span><a href="actualite.html">Actualité</a></span>
        <span><a href="panier.html">Panier</a></span>
        <span><a href="Contact.html">Contact</a></span>
        
    </div>

    <h1>Quelles sont les soirées du moment ?</h1>
    
</body>
</html>