<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Document</title>
</head>
<body class="actualite">

    <div id="menu">
        <span><a href="index.html">Accueil</a></span>
        <span><a href="actualite.html">Actualité</a></span>
        <span><a href="panier.html">Panier</a></span>
        <span><a href="Contact.html">Contact</a></span>
    </div>
    <br><br>

    <img src="img/reflect_agency.jpg" alt="rexclub" class="rex">
    <h4>Rex Club - Reflect Agency</h4>
    <p> 16 avril 2023 <br> Prix : 16 €</p>
    <button>Ajouter au panier</button>

    <br><br>

    <img src="img/fighting_spirit.jpg" alt="fighting_spirit" class="fighting_spirit">
    <h4>Glazart - Fighting Spirit #2, Scalameriya, Manu le Malin, Electric Rescue</h4>
    <p> 9 avril 2023 <br>
        Prix : 16 €</p>
    <button>Ajouter au panier</button>
    
</body>
</html>