<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Document</title>
</head>
<body class="actualite">

    <div id="menu">
        <span><a href="index.html">Accueil</a></span>
        <span><a href="actualite.html">Actualité</a></span>
        <span><a href="panier.html">Panier</a></span>
        <span><a href="Contact.html">Contact</a></span>
    </div>
    <br><br>

    <img src="img/reflect_agency.jpg" alt="rexclub" class="rex">
    <h4>Phantom - Eric Prydz</h4>
    <p> 26 mai 2023 <br> Prix : 35 €</p>
    <button>Ajouter au panier</button>
    <br><br>

    <img src="img/high_detection.jpg" alt="high_detection" class="high_detection">
    <h4>Movida Club - High-Detection Experience</h4>
    <p> 28 avril 2023 <br> Prix : 12 €</p>
    <button>Ajouter au panier</button>
    
</body>
</html>