<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Document</title>
</head>


<body>

<div id="menu">
    <span><a href="index.html">Accueil</a></span>
    <span><a href="actualite.html">Actualité</a></span>
    <span><a href="panier.html">Panier</a></span>
    <span><a href="Contact.html">Contact</a></span>
</div>

<br><br>

<h1>Découvrez toutes les meilleurs soirées techno de Paris !</h1>
<h3>Achetez vos places en quelques clics</h3>

<a href="techno.html">
    <img src="img/techno.jpg" alt="soiree techno" class="techno">
    <h4>Soirées techno</h4>
</a> 
<br>
<a href="electro.html">
    <img src="img/electro.jpg" alt="soiree electro" class="electro">
    <h4>Soirées électro</h4>
</a> 
<br>
<a href="house.html">
    <img src="img/house.jpg" alt="soiree house" class="house">
    <h4>Soirées house</h4>
</a> 

<p class="haut">
    <a href="#top">haut de page</a>
</p>
</body>
</html>