<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Document</title>
</head>
<body class="actualite">

    <div id="menu">
        <span><a href="index.html">Accueil</a></span>
        <span><a href="actualite.html">Actualité</a></span>
        <span><a href="panier.html">Panier</a></span>
        <span><a href="Contact.html">Contact</a></span>
    </div>

    <br><br>

    <img src="img/badaboum.jpg" alt="badaboum" class="badaboum">
    <h4>Badaboum - 35 Rex Club, Laurent Garnier, DJ Gregory Live</h4>
    <p> 7 avril 2023 <br> Prix : 16 €</p>
    <button>Ajouter au panier</button>

    <br><br>

    <img src="img/Glazart_parallx.jpg" alt="Glazart_parallx" class="Glazart_parallx">
    <h4>Glazart- Parallx B2B Kander, KRL MX, Supergloss</h4>
    <p> 30 avril 2023 <br> Prix : 15 €</p>
    <button>Ajouter au panier</button>
    
</body>
</html>
